body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .card {
    display: flex;
    max-width: 388px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .card-details {
    flex: 1;
    padding: 20px;
  }
  
  .card-image {
    flex: 1;
    text-align: right;
  }
  
  .card-image img {
    max-width: 100%;
    height: auto;
  }
  
  .card-details h2 {
    margin-top: 0;
  }
  
  .card-details button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card-details button:hover {
    background-color: #0056b3;
  }

  .menu {
    width: 390px; /* Ширина меню */
    background-color: #333;
    background-color: blue ;
    background-image: url("path/to/your/image.jpg"); /* Путь к вашему изображению */
    background-size: cover; /* Масштабирование изображения для заполнения области */
    background-position: center; /* Выравнивание изображения по центру */
  }
  
  .menu-list {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center; 
    border-radius: 20px;
    justify-content: space-between;
  }
  
    .menu-item {
        border-right: 1px solid rgb(1, 26, 251); /* Разделитель между пунктами меню */
    }
  .menu-link {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  .menu-link:hover {
    background-color: rgb(181, 181, 255); /* Изменение цвета при наведении */
  }
  